nav {
  background-color: white !important;
  height: 90px;
  line-height: 90px;
}

nav ul a {
  color: black !important;
}

nav .brand-logo {
  color: black !important;
  font-weight: 600;
  letter-spacing: 0.0714286em;
  font-size: 26px;
  font-family: sans-serif
}

.home .homepage-header {
  color: white;
  display: inline-block;
  letter-spacing: 0.039604em;
  font-size: 100px;
}

.home h5 {
  color: inherit;
}

.home .homepage-img-container {
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 100%; */
  height: 800px;
}

.home .background-img {
  font-size: 0px;
  /* left: -14.8649px; */
  top: 0px;
  width: 100%;
  height: 765px;
  position: relative;
}

.home h6 {
  font-size: 1.5rem;
  font-weight: 100;
}

.home .picker__date-display {
  background-color: black !important;
}

.home .picker__weekday-display {
  background-color: black !important;
}

.home .picker--focused .picker__day--selected {
  background-color: black !important;
}

.home .picker__day.picker__day--today {
  color: black;
}

.home .picker__close {
  color: black;
}

.home .picker__today {
  color: black;
}

.home .search-container {
  margin-top: 180px;
  width: 100%;
  margin-right: 200px;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  top: 0;
}

.home .row {
  display: inline-block;
}

.home .elementContainer {
  padding: 0 10px 0 15px;
  width: 140px;
  font-size: 18px;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-basis: 25%;
  height: 40px;
  border-bottom: none;
}

.home .search-button-container {
  margin-top: 40px;
}

.home ul {
  margin-bottom: 0px;
    margin: auto !important;
}

.home form {
  flex-direction: row;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-bottom: 35px;
}

.home .elementContainer-where {
  width: 300px
}

.home .search-container-opacity {
  width: 425px;
  background-color: rgba(0, 0, 0, 0.5);
}

.home input[type=text] {
  text-align: center;
  height: auto;
  border-bottom: 1px solid white !important;
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  margin: 0 0 6px 0 !important;
  font-size: 18px !important;
}

.home label {
  font-size: 18px;
  color: white !important;
}

.home .input-field label {
  color: white !important;
  font-size: .8rem !important;
  top: -1.8rem;
}

.home .input-field {
  margin-top: 0px !important;
}

.home .btn:focus {
  background-color: white;
}

.home .jacks-inputs {
  color: white !important;
  margin-top: 50px;
}

.home .input-field label:not(.label-icon).active {
  top: 0rem !important;
}

.home .jacks-header {
  color: white;
}

.home .search-button {
  color: black;
  background-color: white;
}

.home .search-button:hover {
  background-color: white;
}

.home .homepage-background-container {
  /*background-image: url('https://static1.squarespace.com/static/5995d96dbf629ab9fc226638/t/59c18454e3df28dbafd180ad/1505854552351/');*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .home .background-container {
      padding-top: 60px;
  }
  .home .search-container {
    margin-right: 100px;
  }
  .home h5 {
    font-size: 20px;
  }
  .home .search-button {
    display: inherit;
  }
}

.home html {
  color: white !important;
}

@media only screen and (max-width: 733px) {
  .home .background-container {
      padding-top: 70px;
  }
  .home .search-button {
    display: inline;
  }
}

nav .brand-logo {
    margin-left: 125px;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
      margin-left: 0px;
  }
}

.home .summary {
  /*font: condensed-light;*/
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.5em;
    color: white;
}

/*.home .homepage-about h4 {
  margin-left: 200px;
  margin-right: 200px;
  color: black;
  background-color: white;
}*/

.modal {
  width: 425px !important;
  max-height: 600px !important;
  height: 800px !important;
  background-color: black;
}

.modal .modal-footer {
  display: none;
}

.home .image-square {
  height: 175px;
  width: 275px;
}

#facebook-btn {
  display: inline-block;
  color: white;
  width: 100%;
  background-color: #3b5998;
  height: 50px;
  line-height: 49px;
  font-size: 18px;
  padding: 0 18px;

}

#facebook-btn:hover {
  cursor: pointer;
}

a#facebook-btn {
  padding-left: 60px !important;
}

a#google-btn {
  padding-left: 60px !important;
}

#google-btn {
  padding-left: 60px;
  display: inline-block;
  margin-top: 15px;
  color: black;
  width: 100%;
  background-color: white;
  height: 50px;
  line-height: 49px;
  font-size: 18px;
  padding: 0 18px;
  font-weight: bold;
}

#email-btn {
  padding-left: 60px;
  display: inline-block;
  color: white;
  width: 100%;
  background-color: #59d389;
  height: 50px;
  line-height: 49px;
  font-size: 18px;
  padding: 0 18px;
  text-align: center;
  text-transform: none !important;
}

#google-btn:hover {
  cursor: pointer;
}

#email-btn:hover {
  text-transform: none !important;
  cursor: pointer;
}

.home .button-container {

}

.modal h4 {
  color: white;
  margin: 30px 0;
}

.facebook-logo {
  margin-left: -100px;
  position: absolute;
  margin-top: 18px;
  height: 15px;
  width: 15px;
}

.google-logo {
  margin-left: -100px;
  position: absolute;
  margin-top: 18px;
  height: 18px;
  width: 18px;
}

.signup-or-p {
  margin: 5px 0;
  font-size: 18px;
  text-align: center;
  color: white;
}

.signup-already-have-an-account {
  margin-left: 40px;
  color: white;
  display: inline-block;
}

.signin-modal-login-btn {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 34px;
  line-height: 33px;
  padding: 0 14px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  transition: .5s all ease;
  margin-left: 10px;
}

.signup-already-have-an-account-span {
  vertical-align: middle;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  color: white;
  text-align: center;
  margin: 20px 0 0;
  display: inline-block;
}

.modal {
    background-image: url('http://coloradolandmarkblog.com/u/staticpages/2011/10/Flatirons-Shot.jpg');
}

.modal-content {
  background-image: url(https://imgur.com/a/sf5c);
  text-align: center;
}
