.genaslistpage {
  margin: 0 auto;
  text-align: center;
  /*background-image: url("https://static1.squarespace.com/static/5995d96dbf629ab9fc226638/t/59d29e3912abd95b114165e0/1506977910596/Equinox.jpg");*/
  height: 500px;
}

.genaslistpage h5 {
  color: black;
}

.genaslistpage h3 {
  margin: 0;
}

.genaslistpage .list-img-container {
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 765px;
}

.genaslistpage .list-background-img {
  position: absolute;
  font-size: 0px;
  left: 0px;
  top: -37.6px;
  /*width: 1440px;*/
  height: 925.2px;
  position: relative;
}

.genaslistpage p {
  color: black !important;
}

.genaslistpage .input-field label {
  color: black !important;
  font-size: 8em;
  position: relative;
}

.genas-input {
  color: black !important;
  font-size: 8em;
  /*padding-top: 10%;*/
  padding-left: 15%;
}


.genaslistpage .page-title-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 250px;
  color: white !important;
}

.genaslistpage .form-container {
  width: 300px;
  margin: auto;
}

/*.genaslistpage .input-field label {
  color: black !important;
  font-size: 8em
}*/

.genaslistpage form {
  background-color: red !important;
}

.genaslistpage h1 {
  color: white;
  margin-bottom: 0;
  position: relative;
}

.selectgym {
  color: black !important;
  font-size: 8em
}
.genaslistpage .DayPicker-Day {
  color: black !important;
}

.genaslistpage p {
  color: black !important;
  text-align: center;
}

.genaslistpage .input-field label:not(.label-icon).active {
  font-size: 1em
}

.almost-centered {
  padding-left: 3.75%;
}

.genaslistpage .row .col {
  float: none;
}

.genaslistpage .toast {
  float: none;
  top: auto;
}

.center-me {
  padding-left: 39%;
}

/*#button-padding {
  padding-left: 50%;

}*/

#submitlist {
  display: center;
  background-color: white;
  color: black;
}
.genaslistpage .center {
  margin: 0 auto;
}



/*.DayPicker-Caption {
  color: black !important;
  display: inline;
}*/
