/*.membershippage .card {
  background-color: white !important;
  width: 200px;
}
.membershippage .displayedimg {
  margin-top: 20px;
  margin-left: 20px;
  background-color: white !important;
  width: 300px;


}*/

table {
border: 1px solid black;
font-size: 24px;
margin-bottom: 10px;
font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
text-transform: uppercase
}

.membershippage {
  text-align:center !important;

}
.buttonsmembership{
  text-align:center !important;
}
.membershipimg {
  text-align:center !important;
}
