.membershippage .card {
  background-color: white !important;
  width: 200px;
}
.membershippage .displayedimg {
  margin-top: 20px;
  margin-left: 20px;
  background-color: white !important;
  width: 300px;


}
