.search #PlacesAutocomplete__root {
  overflow: hidden;
  width: 300px;
}

.search #input_0 {
  width: 300px
}

.search .search-bar {
  margin: 0;
  padding: 0;
  background-color: red;
  box-sizing: border-box;
}

.search div.col.input-field {
  margin-left: 10px;
  margin-top: 1.3rem !important;
}

.search .search-inputs {
  width: 940px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}


.search .when-where {
  display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 940px;
}

.search .where_label {
  color: #9e9e9e;
  position: relative;
  top: -3.6rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-out;
}

@media only screen and (max-width: 1199px) {
  .search div.col.input-field {
    margin-top: 1.4rem !important;
  }
}

@media only screen and (max-width: 610px) {
  .search div.col.input-field {
    margin-top: 1.4rem !important;
  }
}
