.search .where_label {
  font-size: 1rem;
}

.search .input-field.col label {
  z-index: -1;
  margin-top: -30px;
}

.search .input-field label:not(.label-icon).active {
  font-size: 1rem;
  top: 2.3rem;
}

.search #PlacesAutocomplete__root {
  z-index: 1;
}

.search #input_0 {
  margin-left: 10px;
}
.search .date-picker {
  margin-left: 10px;
  margin-top: 20px;
}

.search #where_input {
  padding: 0 !important;
}

.search .card:hover {
  cursor: pointer;
}

.search .card {
  background-color: white !important;
  width: 200px;
}
